body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }
  /*--- navigation bar ---*/
  .navbar {
    background-color: lightgrey;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }

  .img{
    width: 150px;
    height: 40px;
  }
  .nav-link {
    margin-right: 1em !important;
  }

  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .container-fluid{
    text-align: center;
  }

  #form{
    width: 100px;
    margin: 0 auto;
  }
  .link{
    align-content: center;
    padding: 0px;
  }
  
  .page-footer{
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 30px;   
  }

   .sub-footer{
    border: 1px solid gray;
    background-color: dimgrey;
    padding-top: 15px;
    margin-top: 40px;
    margin-bottom: -35px;
    height: 60px;
    font-size: smaller;
  }

  .span{
    float: right;
    display: flex;
    justify-content: space-around; 
  }

  div span{
    padding: 10px;
  }