body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    position: relative;
  }

  /*--- navigation bar ---*/
  .navbar {
    background-color: lightgrey;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }

  .img{
    width: 150px;
    height: 40px;
  }
  .nav-link {
    margin-right: 1em !important;
  }

  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .container-fluid{
    justify-content: center;
  }
  
  .footer{
    background-color: gray;
    position: relative;
    right: 0;   
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100%;
  }

   .sub-footer{
    border: 1px solid gray;
    background-color: dimgrey;
    padding-top: 15px;
    margin-top: 40px;
    margin-bottom: -35px;
    height: 60px;
    font-size: smaller;
  }

  .span{
    float: right;
    display: flex;
    justify-content: space-around;  
  }

  div span{
    padding: 10px;
  }