body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    background-image: url('../../images/photo-1525915818695-5b1a033247f1.jpg');
    background-size: cover;
    background-position: center;  
    position: relative;
    height: 700px;
  }
  .overlay {
    position: absolute;
    min-height: 94%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  /*--- navigation bar ---*/
  .navbar {
    background-color: lightgrey;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }

  .img{
    width: 150px;
    height: 40px;
  }
  .nav-link {
    margin-right: 1em !important;
  }

  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .container-fluid{
    justify-content: center;
  }
  
  .page-footer{
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 30px;   
  }

   .sub-footer{
    border: 1px solid gray;
    background-color: dimgrey;
    padding-top: 15px;
    margin-top: 40px;
    margin-bottom: -35px;
    height: 60px;
    font-size: smaller;
  }

  .span{
    float: right;
    display: flex;
    justify-content: space-around; 
  }

  div span{
    padding: 10px;
  }